name: Upload Python Package

on:
  pull_request:
    types:
      - closed
jobs:
  deploy:
    if: ${{ (github.event.label.name == 'runtest') && (github.event.pull_request.merged == true) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
        working-directory: emanifest-py
      - name: Build package
        run: python -m build --sdist --wheel --outdir dist/
        working-directory: emanifest-py
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          #password: ${{ secrets.PYPI_API_TOKEN }}
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
